.login-container{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
}

.login-form{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.05);
}
.login-title{
    color: #01A0C6;
    margin-bottom: 20px;
}
.form-submit{
    color: white;
    background-color: #01A0C6;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}
.form-submit:hover{
    transition: 0.5s;
    background-color: #00627a;
    color: white;
}
label{
    text-align: left;
    margin-bottom: 5px;
    margin-top: 20px;
}
.login-input-field{
    padding: 10px;
    border: solid 2px #01A0C6;
    
}
.terms{
    margin-top: 20px;
}
.terms-link{
    color: #01A0C6;
    text-decoration: none;
}
.member-link{
    margin-top: 20px;
}
.signup-link{
    text-decoration: none;
    color: #01A0C6;
}
.errorMsg{
    color: red;
    font-size: 12px;
    text-align: left;
}