.card-container{
    height: 1100px;
    margin: 50px 0;
}
.card-headline{
    display: flex;
    justify-content: flex-start;
    padding: 0 100px;
}
.card-header-title{
    color: #01A0C6;
}
.card-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 100px;
    grid-gap: 80px;
}
.card-badge{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.card-item{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.card-item:hover{
    transform: scale(1.05);
}
.card-details{
    text-align: left;
    padding: 0 18px;
    font-size: 12px;
    cursor: pointer;
}
.card-image{
    height: 60%;
    
}
.card-save{
    color: #01A0C6;
    font-weight: bold;
}
.card-img{
    height: 100%;
    width: 100%;
}
.card-details{
    height: 40%;
    font: 12px;
    margin-top: 10px;
}
.rating{
    display: flex;
    justify-content: space-between;
}

.fa-info-circle{
    font-size: 18px;
}
.sponsored{
    color: #01A0C6;
    display: flex;
    margin-top: 10px;
}
.rating-icons{
    font-size: 18px;
    color: #01A0C6;
    margin-top: 10px;   
}
.fa-star-o{
    font-size: 18px;
}
.cart-btn{
}
.cart-button{
    width: 100%;
    background-color: #01A0C6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.cart-button:hover{
    transition: 0.5s;
    background-color: #00627a;
}
.see-more{
    display: flex;
    padding: 0 100px;
    justify-content: flex-start;
    text-decoration: none;
}

.see-more-btn{
    background-color: #01A0C6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}
.see-more-btn:hover{
    transition: 0.5s;
    background-color: #00627a;
}




@media only screen and (min-width: 300px) and (max-width: 500px) {
    .card-container{
        height: 3650px;
    }
    .card-item-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding: 40px 60px;
    }
    .card-headline{
        padding: 0 60px;
        margin-bottom: -30px;
    }
    .card-badge{
        margin-top: 40px;
    }
    .fa-star{
        font-size: 12px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 12px;
        padding: 0;
    }
    .fa-star-o{
        font-size: 12px;
    }
    .rating-icons{
        margin-top: 5px;
        
    }
    .fa-info-circle{
        font-size: 12px;
    }
    .card-item-container{
        grid-gap: 20px;
    }
    .see-more{
        padding: 0 60px;
    }
    .see-more-btn{
        padding: 5px 15px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
    .card-container{
        height: 1900px;
    }
    .card-item-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        padding: 40px 50px;
    }
    .card-headline{
        display: flex;
        justify-content: flex-start;
        padding: 0 50px;
        margin-bottom: -30px;
    }
    .card-details{
        padding: 0 11px;
    }
    .card-badge{
        margin-top: 30px;
    }
    .fa-star{
        font-size: 12px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 12px;
        padding: 0;
    }
    .rating-icons{
        margin-top: 5px;
        
    }
    .fa-star-o{
        font-size: 12px;
    }
    .fa-info-circle{
        font-size: 12px;
    }
    .see-more{
        padding: 0 60px;
    }
    .see-more-btn{
        padding: 4px 8px;
    }

    
}
@media only screen and (min-width: 600px) and (max-width: 880px) {
    .card-container{
        height: 1950px;
    }
    .card-headline{
        display: flex;
        justify-content: flex-start;
        padding: 0 60px;
        margin-bottom: -30px;
    }
    .card-item-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
        padding: 40px 60px;
    }
    .card-badge{
        margin-top: 30px;
    }
    .fa-star{
        font-size: 14px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 14px;
        padding: 0;
    }
    .fa-star-o{
        font-size: 14px;
    }
    .rating-icons{
        margin-top: 5px;
        
    }
    .fa-info-circle{
        font-size: 14px;
    }
    .see-more{
        padding: 0 60px;
    }
    .see-more-btn{
        padding: 4px 8px;
    }
    
}
@media only screen and (min-width: 880px) and (max-width: 992px) {
    .card-container{
        height: 1450px;
    }
    .card-item-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 45px;
    }
    .fa-star{
        font-size: 13px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 13px;
        padding: 0;
    }
    .fa-star-o{
        font-size: 13px;
    }
    .rating-icons{
        margin-top: 5px;
        
    }
    .fa-info-circle{
        font-size: 13px;
    }
    .see-more-btn{
        padding: 5px 10px;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .card-container{
        height: 1450px;
    }
    .card-item-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 65px;
    }
    .fa-star{
        font-size: 16px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 16px;
        padding: 0;
    }
    .fa-star-o{
        font-size: 16px;
    }
    .rating-icons{
        margin-top: 5px;
        
    }
    .fa-info-circle{
        font-size: 14px;
    }

    .see-more-btn{
        padding: 5px 15px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
    .card-item-container{
        grid-gap: 60px;
        height: 1000px;
    }
    .card-container{
        height: 1150px;
    }
    .fa-star{
        font-size: 16px;
        padding: 0;
    }
    .fa-star-half-o{
        font-size: 16px;
        padding: 0;
    }
    .fa-star-o{
        font-size: 16px;
    }
    .rating-icons{
        margin-top: 10px;
        
    }
    .fa-info-circle{
        font-size: 16px;
    }
    .see-more-btn{
        padding: 10px 15px;
    }
    .card-badge{

    } 
}